body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
  /* padding: 50px; */
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 80%;               
  background-color:grey;
  height: 1px;
}


.book-cover {
  width: 60vh;
  height: 95vh;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
}

.brand-bar {
  height: 30px;
  width: 50vh;
  background-color: red;
  color: white;
  border-radius: 25px;
  font-size: 1.5rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  margin-bottom: 1vh;
  font-stretch: expanded;
}

.tag-text {
  font-weight: lighter;
  font-stretch: extra-expanded;
}

.title-text {
  font-size: 2.5rem;
  color: red;
  font-weight: bolder;
}

.image-box {
  width: 70%;
  height: 60%;
  border: 2vh solid red;
  margin-top: 1vh;
  border-radius: 10vh 10vh 0px 0px;
  box-shadow:
  inset 0 0 0 30px darkred;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.cover-image {
  margin: auto;
  width: 70vh;
}

.content-box {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 5px;
  margin: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 50px;
}


div .tag-text {
  text-align: center;
  font-size: 1.2rem;
}